header {
    background-color: #FEAE6F ;
    h1 {
        color: #01204E ;
        text-align:center;
        margin-top: -15px ;
    }

    p {
        color: #028391;
        text-align:center;
        margin-top: -15px ;
    }
    
    
   
}

article {
    color: #01204E ;
    margin-top:-10px ;
}
footer {
    background-color: #FEAE6F ;
    h4{
        color: #01204E ;
    }

    p {
        color: #028391;
    }
    #contact {
        margin-bottom: 20px ;
        margin-top: -3px ;
    }
    #mail {
        margin-top: -15px ;
    }
}

main {
    background-color : #F6DCAC ;

    h3 {
        color:rgb(172, 159, 163) ;
    }
    #Project-1,#Project-2 {
        height: 100px ;
        width: 100px ;
        background-color:darkgrey ;
        margin-left: 5px ;
    }
    #Projects {
        height: 150px ;
        width: 260px ;
        background-color: #FEAE6F ;
        text-align:center ;
    }
    #P-space {
        margin-bottom: 2px ;
    }
    #policy {
        margin-top: -10px ;
    }
}

body {
    background-color: rgb(172, 159, 163);
}

section {
    p {
        color: #01204E ;
        /* a { */
            /* color:red ; */
        /* } */
    }
}
